@inherits BusDashBoardBase


<style>
    .bus-card {
        padding: 3px;
        margin: 5px;
    }

    .icon-size {
        max-height: 7px;
        max-width: 7px;
    }

    .icon-buttons {
        grid-area: icon-buttons
    }
    .bld {
        font-weight: bold;
    }
    i {
        font-size: 40px;
        align-self: center;
    }


    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-auto-rows: 150px;
    }

    .name {
        grid-area: name;
    }

    .freq {
        grid-area: freq;
    }

    .mode {
        grid-area: mode;
    }

    .icon {
        grid-area: locked;
    }

    .bus-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name            name " 
                             "freq            mode"
                             "icon-buttons    icon-buttons";
    }

    .radio-color {
        background-color: red;
    }

    .active {
        background-color: lightgreen;
    }

    .inActive {
        background-color: orangered;
    }
</style>

<h3>HamBus DashBoard </h3>
<div class="wrapper">
    @foreach (var bus in BusService.BusStatusList)
    {
        <div class="bus-wrapper bus-card @GetClass(bus.ActiveBus.IsActive)" style="@StyleToRender">
            <div class="name">Name: @bus.Name</div>
            <div class="icon-buttons">
                <MatIconButton Class="locked icon-button" Icon="lock_open"
                               ToggleIcon="lock" ToggledChanged="((toggleState) => LockClick(toggleState, bus))"></MatIconButton>

                <MatIconButton Class="config icon-button" Icon="settings" ToggleIcon="settings"
                               ToggledChanged="(() => SettingsClick(bus))"></MatIconButton>
            </div>
            <div class="freq"><div class="bld">Freq: </div>@FormatFreq(bus) MHz</div>
            <div class="mode"><div class="bld">Mode: </div> @bus.State.Mode</div>

        </div>
    }

</div>

